{% extends 'base.html.twig' %}

{% block title %}Edit PiezasIphone{% endblock %}

{% block body %}
    <h1>Edit PiezasIphone</h1>

    {{ include('piezas_iphone/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_piezas_iphone_index') }}">back to list</a>

    {{ include('piezas_iphone/_delete_form.html.twig') }}
{% endblock %}
